@model IEnumerable<BennetVellaSecureSoftware.Models.Article>

@{
    ViewBag.Title = "AllPublishedArticles";
}

<h2>Published Articles</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Author")
        </th>
        <th>
            @Html.DisplayName("Creation Date")
        </th>
        <th>
            @Html.DisplayName("Title")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AspNetUser.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.ActionLink("Download", "Download", new { fileName = item.FileName })
            </td>
        </tr>
    }

</table>


